@use "../../../styles/colors";
@use "../../../styles/utils";

.container {
  width: 325px;
  height: 265px;
  background-color: colors.$white;
  margin-right: 15px;
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: colors.$accent;
    padding: 25px;
    border-radius: 50%;
  }
}

@media (max-width: 375px) {
  .container {
    margin-right: 0;
    margin-bottom: 90px;
    border-radius: 5px;
    @include utils.centerCols;
    position: relative;
    img {
      position: absolute;
      top: -18%;
      left: 35%;
      width: 90px;
      height: 90px;
      background-color: colors.$accent;
      padding: 25px;
      border-radius: 50%;
    }
  }
}
