.container,
.nav,
.icons {
  display: flex;
  justify-content: space-between;
}

.container {
  min-height: 307px;
  background-color: #000;
  color: white;
  padding: 90px;
}

.nav {
  flex: 0.4;

  p {
    font-weight: bold;
  }
}

.icons {
  flex: 0.3;
  li {
    margin-right: 23px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 375px) {
  .container,
  .nav {
    flex-direction: column;
    text-align: center;
  }
  .container {
    min-height: 777px;
    padding: 50px 0;
  }
}
