.container {
  min-height: 307px;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.4;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.3;

  .nav {
    nav {
      p {
        font-weight: bold;
      }
    }
  }
}
