@use "../../styles/colors";
@use "../../styles/utils";
@use "../../styles/size";

.list {
  width: 1106px;
  margin: 90px 0;
}
.linkList {
  width: 100%;
  @include utils.centerCols;
}
.linkItem {
  width: 100%;
  height: 72px;
  margin-bottom: 5px;
  padding: 22px 26px;
  color: colors.$black;
  @include utils.centerBetween;
  background-color: colors.$white;
  border-radius: 10px;
  section {
    display: flex;
    @include utils.centerBetween;
    p {
      color: colors.$primary;
    }
    button {
      margin-left: 10px;
    }
  }
}

@media (max-width: 375px) {
  .list {
    width: 86%;
    min-height: 159px;
  }
  .linkList {
    width: 100%;
    height: 100%;
  }
  .linkItem {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    section {
      width: 100%;
      flex-direction: column;
      button {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
