@use "../../styles/colors";
@use "../../styles/utils";

.container {
  @include utils.centerCols;
  min-height: 908px;
  margin: 0 auto;
  padding: 60px;
  text-align: center;
  background-color: colors.$neutral;

  header {
    width: 29%;
    margin-bottom: 5%;
  }

  ul {
    @include utils.center;
    width: 100%;
    text-align: start;
    display: relative;

    li {
      @include utils.centerCols;
      display: absolute;
      text-align: start;
      margin-right: 31px;
      border-radius: 10px;

      img {
        top: -45px;
        left: 32px;
      }

      &:first-child {
        margin-top: -37px;
      }
      &:last-child {
        margin-top: 37px;
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0;

    header {
      @include utils.centerCols;
      min-height: 317px;
      width: 100%;
      margin-bottom: 5%;
      padding: 0 40px;
    }
  }
  .list {
    flex-direction: column;
    width: 100%;
  }
}
