.container,
.container > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 908px;
  margin: 0 auto;
  padding: 60px;
  flex-direction: column;
  text-align: center;
  background-color: #f0f1f6;

  header {
    width: 29%;
    margin-bottom: 5%;
  }

  ul {
    width: 100%;
    text-align: start;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0;

    header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 317px;
      width: 100%;
      margin-bottom: 5%;
      padding: 0 40px;
    }
  }
  .list {
    flex-direction: column;
    width: 100%;
    
  }
}
