.container,
.container > form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 166px;
  width: 1106px;
  margin: 0 auto;
  flex-direction: column;
  background-image: url("/svg/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3a3053;

  form {
    height: 62px;

    input,
    button {
      height: 100%;
      border-radius: 10px;
    }

    input {
      width: 768px;
      margin-right: 22px;
      padding: 29px 22px;
      border: none;
      outline: none;
      &:focus {
        border: 3px solid red;
      }
    }

    button {
      width: 182px;
    }
  }
}

.list {
  ul {
    li {
      color: black;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    min-height: 325px;
    padding: 0 24px;
    background-image: url("/svg/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3a3053;

    form {
      width: 100%;
      height: 62px;
      flex-direction: column;

      input,
      button {
        height: 100%;
        border-radius: 10px;
      }

      input {
        width: 100%;
        margin-right: 22px;
        padding: 29px 22px;
        border: none;
        outline: none;
        &:focus {
          border: 3px solid red;
        }
      }

      button {
        width: 100%;
      }
    }
  }
}
