@use "../../styles/colors";
@use "../../styles/utils";
@use "../../styles/bg";

.container {
  position: absolute;
  top: 830px;
  left: 12%;
  height: 166px;
  width: 1106px;
  margin: 0 auto;
  @include utils.centerCols;
  @include bg.bgImgCover("/svg/bg-shorten-desktop.svg");
  border-radius: 10px;

  form {
    min-height: 62px;
    @include utils.center;
    position: relative;
    input,
    button {
      height: 100%;
      border-radius: 10px;
    }

    input {
      width: 768px;
      margin-right: 22px;
      padding: 0 22px;
      border: none;
      outline: none;
      &:focus {
        box-shadow: 0 0 0 2pt colors.$active;
      }
    }

    button {
      width: 182px;
      background-color: colors.$primary;
      color: white;
    }
  }

  small {
    position: absolute;
    top: 77%;
    left: 6%;
    &.success {
      color: colors.$cyan;
    }
    &.error {
      color: colors.$red;
    }
  }
}

@media (max-width: 375px) {
  .container {
    width: 86%;
    min-height: 159px;
    padding: 0 24px;
    @include bg.bgImgCover("/svg/bg-shorten-mobile.svg");
    position: absolute;
    top: 840px;
    left: 6%;

    form {
      width: 100%;
      height: 62px;
      flex-direction: column;

      input,
      button {
        height: 100%;
        border-radius: 10px;
      }

      input {
        width: 100%;
        margin-right: 22px;
        padding: 29px 22px;
        border: none;
        outline: none;
        &:focus {
          border: 3px solid colors.$active;
        }
      }

      button {
        width: 100%;
      }
    }
  }
}
