@use "../../styles/colors";
@use "../../styles/utils";
@use "../../styles/bg";

.container {
  @include utils.centerCols;
  @include bg.bgImgCover("/svg/bg-boost-desktop.svg");
  width: 100%;
  min-height: 254px;
  font-size: 30px;
  color: white;
  text-align: center;
}

@media (max-width: 375px) {
  .container {
    @include bg.bgImgCover("/svg/bg-boost-mobile.svg");
    min-height: 297px;
  }
}
