@use './fonts';
li {
  list-style-type: none;
}

a,
button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  margin: 0;

  @include fonts.fonts;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
